# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

lib/
lib/forge-std
lib/foundry-devops
broadcast/


.DS_Store
zkout/
foundryup-zksync
.gas-snapshot
test.md
